<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">

        <h1>About page</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iste hic, accusamus quod doloribus ea enim voluptatibus quae delectus ad velit, asperiores adipisci totam minus. Ipsam eligendi facere recusandae ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore impedit repellendus sequi, sit eum ipsa consequatur, sapiente doloribus esse aliquid dicta rerum. Ab, laudantium. Aspernatur id maxime alias earum!</p>
    </div>
        
    {% endblock %}
</body>
</html>